version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: nest_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: pet_manager_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: